#bioAbout {
  background-color: white;
  font-size: 0.8em;
  // min-width: 90vw;
  min-width: 100vw;
  margin-left: 10vw;
  margin-top: 20vh;
  padding: 2vh 6vw 2vh 4vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  -moz-text-align-last: left;
  text-align-last: left;
   h2 {
    font-size: 1.4em;
    #name {
      color: #36CCCA;
    };
  };
  .aboutHeader {
    color: #36CCCA;
  };
  .aboutHeader:hover {
    text-decoration: underline;
    transition: 0.3s smooth ease-in-out;
  };
  .divider {
    align-self: center;
    max-width: 10vw;
    max-height: 10vh;
  };
  #contactLink {
    margin-left: 1vw;
    color: #36CCCA;
  };
  @media only screen and (min-width: 480px){
    // padding: 0 0 0 6vw;
    min-width: 105vw;
    margin: 35vh 0 35vh 0;
    #aboutHead {
      margin-left: 2vw;
    };
    #aboutAbout {
      display: flex;
      flex-direction: column;
      align-items: center;
      #aboutBody {
        display: flex;
        justify-content: space-evenly;
        min-width: 100vw;
        .section {
          display: flex;
          flex-direction: column;
          padding-left: 5vw;
          h3 {
            align-self: flex-start;
            margin-right: 10vw;
            max-width: 50vw;
            #contactLink {
              margin-left: 0.4vw;
            };
          };
        };
      
      }
    };
  };
  
};

// @media only screen and (min-width: 480px){
//   #bioAbout {
//     max-width: 50vw;
//   };
// };