#bioAbout {
  background-color: white;
  font-size: 0.8em;
  min-width: 100vw;
  margin-left: 20vw;
  // margin-top: 20vh;
  padding: 0 5vw 2vh 6vw;
  .aboutHeader {
    color: #36CCCA;
  };
  .aboutHeader:hover {
    text-decoration: underline;
    transition: 0.3s smooth ease-in-out;
  };
  .divider {
    align-self: center;
    max-width: 10vw;
    max-height: 10vh;
  };
  #contactLink {
    margin-left: 1vw;
  }
};