

@media only screen and (max-device-width:  480px){
  #appStyle {
    #content {
      .about {
        width: 100%;
        position: relative;
        top: 100vh;
        left: -25vw;
        #bioAbout {
          display: flex;
          flex-direction: column;
          position: relative;
          margin-top: -75vh;
          #bioHeader {
            display: none;
          };
          #about {
            margin: 0vh -10vw 0vh -10vw;
            #contactLink {
              color: black;
            };
            #contactLink:hover { 
              text-decoration-color: blue;
              color: black;
            };
          };  
        };
      };
    }
  }
}

@media only screen and (max-width: 721px)
                  and (min-width: 481px)
{
  #appStyle {
    position: absolute;
    #content {
      position: relative;
      .about {
        position: relative;
        top: 80vh;
        left: -25vw;
        #bioAbout {
          display: flex;
          flex-direction: column;
          #bioHeader {
            font-size: 2em;
            align-self: center;
          };
          #about {
            font-size: 1em;
            text-align: center;
            #contactLink {
              color: black;
            }
            #contactLink:hover {
              color: black;
              text-decoration-color: blue;
            };
          };
        };
      };
    };
  };
};

@media only screen and (max-width: 1000px) 
                  and (min-width: 721px)
{
  #appStyle {
    #content {
      .about {
        width: 130%;
        position: relative;
        bottom: 40vh;
        top: 0vh;
        left: -35vw;
        #bioAbout {
          display: flex;
          flex-direction: column;
          #bioHeader {
            font-size: 4em;
            align-self: center;
          };
          #about {
            font-size: 1.3em;
            text-align: center;
            #contactLink:hover {
              color: black;
              text-decoration-color: blue;
            };
          };
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px){
  #appStyle {
    position: absolute;
    
    #content {
      .about {
        #bioAbout {
          #aboutAbout {
            position: relative;
            bottom: 15vh;
            top: 20vh;
            width: 50vw;
            background-color: beige;
            padding: 0 10vw 2vh 2vw;
            -webkit-box-shadow: 0px 7px 25px 3px rgba(133,126,133,1);
            -moz-box-shadow: 0px 7px 25px 3px rgba(133,126,133,1);
            box-shadow: 0px 7px 25px 3px rgba(133,126,133,1);
            #contactLink {
              margin-left: 0.5vw;
              color: black;
            };
            #contactLink:hover {
              color: rgba(65, 125, 77, 0.721);
              text-decoration: none;
            };

          };  
        };
      } 
    };
  };
};