#contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh 0 10vh 0;
  @media only screen and (min-width: 480px){
    margin: 40vh 0 20vh 0;
  }
  #contactHeader {
    width: 80vw;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
  };
  #contactform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10vh;
    #submitEmail {
      align-self: center;
    };
  };
  #alternateContact {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 10vw;
      max-height: auto;
    };
    img:hover {
      max-width: 12vw;
      max-height: auto;
    };
    @media only screen and (min-width: 480px){
      img {
        max-width: 3vw;
      };
      img:hover {
        max-width: 4vw;
        max-height: auto;
      };
    }
  };
};

