#contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh 0vw 0 10vw;
  #contactform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    #submitEmail {
      align-self: center;
    }
  };
  #alternateContact {
    display: flex;
    max-width: 100vw;
    img {
      max-width: 10vw;
      max-height: auto;
    };
  };
};