#contactMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20vh 0 10vh 0;
  #contactHeader {
    width: 80vw;
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
  };
  #contactform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    #submitEmail {
      align-self: center;
    };
  };
  #alternateContact {
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 10vw;
      max-height: auto;
    };
    img:hover {
      max-width: 12vw;
      max-height: auto;
    }
  };
};