@import 'home-sidebar.scss';
@import 'home-navbar.scss';
@import 'about.scss';
@import 'portfolio.scss';
@import 'contact.scss';
@import 'landing-page.scss';

#app {
  font-family: 'Roboto', sans-serif;
  z-index: 1000; 
  #appStyle {
    #content {
      margin: 0vh 5vw 0vh 40vw;
      box-sizing: border-box;
      width: 70vw;
      #bio {
        #typing {
          margin: 30vh 0vw 45vh -20vw;
          font-size: 3em;
        };
      }
    };
  };
};



@media only screen and (max-width: 721px)
                    and (min-width: 480px)
{
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 110%;
    height: 65%;
    top: 260vh;
    position: absolute;
    left: -1vw;
  };
  #appStyle {
    #content {
      #navButton {
        display: none
      };
    };
  };
};

@media only screen and (min-width: 721px){
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 110%;
    height: auto;
    top: 380vh;
    position: absolute;
    left: -1vw;
  };
  #appStyle {
    top: -5vh;
    #content {
      #navButton {
        display: none;
      };
    };
  };
}
