#appStyle {
  display: flex;
}
@media only screen and (max-width: 1400px) {
  #appStyle #sidebar {
    display: none;
  }
}
@media only screen and (min-width: 1400px) {
  #appStyle #sidebar {
    position: fixed;
    width: 30vw;
    height: 90%;
    top: 0;
    left: 5vw;
    margin: -5vh 0vw 5vh -2vw;
    padding: 5vh 2vw 10vh 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: #4cbaa0;
    border-left: 0.1em solid rgba(194, 145, 59, 0.5);
    border-right: 0.1em solid rgba(194, 145, 59, 0.5);
  }
  #appStyle #sidebar img {
    border-radius: 75%;
    width: 18vw;
    height: auto;
    align-self: center;
  }
  #appStyle #sidebar #nav #columnNav {
    position: relative;
    top: -5vh;
  }
  #appStyle #sidebar #nav #columnNav a {
    color: black;
  }
  #appStyle #sidebar #nav #columnNav a:hover {
    color: white;
    text-decoration: none;
  }
  #appStyle #sidebar #nav #rowNav {
    position: relative;
  }
  #appStyle #sidebar #techList {
    display: flex;
  }
  #appStyle #sidebar #techList ul {
    list-style-type: none;
  }
}
#appStyle section #rowNav {
  display: flex;
  flex-direction: row;
  flex-basis: 25%;
  align-items: space-evenly;
  transition: 1s ease-in-out;
}
#appStyle section #columnNav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5vh 0vw 5vh 0vw;
  align-items: space-around;
  transition: 1s ease-in-out;
}
#appStyle section #columnNav #titleHeading {
  font-size: 2.5em;
  margin: 0 0 0 0;
}
#appStyle section #columnNav #titleSubheading {
  font-size: 1.5em;
  margin: 0 0 0 0;
}
#appStyle section h1 {
  text-align: justify;
  text-justify: inter-word;
  flex-basis: 10%;
  flex-wrap: wrap;
}
#appStyle section p {
  margin: 0vw 0vw 0vw 2vw;
}

@media only screen and (max-device-width: 480px) {
  #appAndNav a {
    text-decoration: none;
    color: #fff;
  }
  #appAndNav a:visited {
    color: black;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 411/731) {
  #appAndNav #navbar {
    width: 200vw;
    height: 150vh;
    position: fixed;
    z-index: 500;
    margin-bottom: 50vh;
    background-color: #4cbaa0;
    border-top: 0.1em solid rgba(194, 145, 59, 0.5);
    border-bottom: 0.1em solid rgba(194, 145, 59, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5vh;
    left: -30vw;
    padding-right: 1vw;
  }
  #appAndNav #navbar h3 {
    font-size: 1em;
    margin: 0 0 0 0;
    position: relative;
    top: 25vh;
  }
  #appAndNav #navbar #columnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -5vh;
    font-size: 2em;
  }
  #appAndNav #navbar #columnNav #aboutLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #techLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #resumeLink {
    margin-bottom: 10vh;
    color: white;
  }
  #appAndNav #navbar #columnNav #portfolioLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #leftColumnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 10vh;
    font-size: 1.5em;
    left: -40vw;
    padding-right: 5%;
    border-right: 0.2em solid black;
    margin-right: 15vw;
    transition: 0.3s ease-in-out;
  }
  #appAndNav #navbar #leftColumnNav #aboutLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #techLink {
    margin: 0vh 0vw 10vh 4vw;
    color: black;
  }
  #appAndNav #navbar #leftColumnNav #resumeLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #portfolioLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #contactLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #techList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -43vh;
    left: 15vw;
    border-left: 0.2em solid white;
    margin-left: -35vw;
    width: 60vw;
  }
  #appAndNav #navbar #techList ul {
    list-style-type: none;
  }
  #appAndNav #navbar #techList ul h3 {
    font-size: 1.2em;
    position: relative;
    top: -3vh;
    margin-bottom: -5vh;
  }
  #appAndNav #navbar #techList ul li {
    font-size: 1.2em;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 414/736) {
  #appAndNav #navbar {
    width: 200vw;
    height: 150vh;
    position: fixed;
    z-index: 500;
    margin-bottom: 50vh;
    background-color: #4cbaa0;
    border-top: 0.1em solid rgba(194, 145, 59, 0.5);
    border-bottom: 0.1em solid rgba(194, 145, 59, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5vh;
    left: -30vw;
    padding-right: 1vw;
  }
  #appAndNav #navbar h3 {
    font-size: 1em;
    margin: 0 0 0 0;
    position: relative;
    top: 25vh;
  }
  #appAndNav #navbar #columnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: -15vh;
    font-size: 2em;
  }
  #appAndNav #navbar #columnNav #aboutLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #techLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #resumeLink {
    margin-bottom: 10vh;
    color: white;
  }
  #appAndNav #navbar #columnNav #portfolioLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #leftColumnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 10vh;
    font-size: 1.5em;
    left: -40vw;
    padding-right: 5%;
    border-right: 0.2em solid black;
    margin-right: 15vw;
    transition: 0.3s ease-in-out;
  }
  #appAndNav #navbar #leftColumnNav #aboutLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #techLink {
    margin: 0vh 0vw 10vh 4vw;
    color: black;
  }
  #appAndNav #navbar #leftColumnNav #resumeLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #portfolioLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #contactLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #techList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -63vh;
    left: 30vw;
    border-left: 0.2em solid white;
    width: 60vw;
  }
  #appAndNav #navbar #techList ul {
    list-style-type: none;
  }
  #appAndNav #navbar #techList ul h3 {
    font-size: 2em;
    position: relative;
    top: -3vh;
    margin-bottom: -5vh;
  }
  #appAndNav #navbar #techList ul li {
    font-size: 1.5em;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 320/568) {
  #appAndNav #navbar {
    width: 200vw;
    height: 150vh;
    position: fixed;
    z-index: 500;
    margin-bottom: 50vh;
    background-color: #4cbaa0;
    border-top: 0.1em solid rgba(194, 145, 59, 0.5);
    border-bottom: 0.1em solid rgba(194, 145, 59, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5vh;
    left: -30vw;
    padding-right: 1vw;
  }
  #appAndNav #navbar h3 {
    font-size: 1em;
    margin: 0 0 0 0;
    position: relative;
    top: 25vh;
  }
  #appAndNav #navbar #columnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    font-size: 2em;
    top: -5vh;
  }
  #appAndNav #navbar #columnNav #aboutLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #techLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #resumeLink {
    margin-bottom: 10vh;
    color: white;
  }
  #appAndNav #navbar #columnNav #portfolioLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #leftColumnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    top: 25vh;
    font-size: 1.5em;
    left: -40vw;
    padding-right: 5%;
    border-right: 0.2em solid black;
    margin-right: 15vw;
    transition: 0.3s ease-in-out;
  }
  #appAndNav #navbar #leftColumnNav #aboutLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #techLink {
    margin: 0vh 0vw 10vh 4vw;
    color: black;
  }
  #appAndNav #navbar #leftColumnNav #resumeLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #portfolioLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #contactLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #techList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -43vh;
    left: 15vw;
    border-left: 0.2em solid white;
    margin-left: -35vw;
    width: 60vw;
  }
  #appAndNav #navbar #techList ul {
    list-style-type: none;
  }
  #appAndNav #navbar #techList ul h3 {
    font-size: 1em;
    position: relative;
    top: -3vh;
    margin-bottom: -5vh;
  }
  #appAndNav #navbar #techList ul li {
    font-size: 1em;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 375/667) {
  #appAndNav #navbar {
    overflow-x: hidden;
    width: 200vw;
    height: 200vh;
    position: fixed;
    z-index: 500;
    margin-bottom: 50vh;
    background-color: #4cbaa0;
    border-top: 0.1em solid rgba(194, 145, 59, 0.5);
    border-bottom: 0.1em solid rgba(194, 145, 59, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5vh;
    left: -40vw;
    padding-right: 1vw;
  }
  #appAndNav #navbar h3 {
    font-size: 1.5em;
    margin: 0 0 0 0;
    position: relative;
    top: 25vh;
  }
  #appAndNav #navbar #columnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    font-size: 2em;
    left: 5vw;
    top: -10vh;
  }
  #appAndNav #navbar #columnNav #aboutLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #techLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #resumeLink {
    margin-bottom: 10vh;
    color: white;
  }
  #appAndNav #navbar #columnNav #portfolioLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #leftColumnNav {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: flex-start;
    position: relative;
    top: 5vh;
    font-size: 1.2em;
    left: -20vw;
    padding-right: 10%;
    border-right: 0.2em solid black;
    margin-right: 30vw;
    transition: 0.3s ease-in-out;
  }
  #appAndNav #navbar #leftColumnNav #aboutLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #techLink {
    margin: 0vh 0vw 10vh 4vw;
    color: black;
  }
  #appAndNav #navbar #leftColumnNav #resumeLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #portfolioLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #contactLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #techList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50vh;
    left: 12vw;
    border-left: 0.2em solid white;
  }
  #appAndNav #navbar #techList ul {
    list-style-type: none;
  }
  #appAndNav #navbar #techList ul h3 {
    font-size: 1.2em;
    position: relative;
    top: -3vh;
    margin-bottom: -5vh;
  }
  #appAndNav #navbar #techList ul li {
    font-size: 1em;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 375/812) {
  #appAndNav #navbar {
    width: 200vw;
    height: 200vh;
    position: fixed;
    z-index: 500;
    margin-bottom: 50vh;
    background-color: #4cbaa0;
    border-top: 0.1em solid rgba(194, 145, 59, 0.5);
    border-bottom: 0.1em solid rgba(194, 145, 59, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5vh;
    left: -40vw;
    padding-right: 1vw;
  }
  #appAndNav #navbar h3 {
    font-size: 1.5em;
    margin: 0 0 0 0;
    position: relative;
    top: 25vh;
  }
  #appAndNav #navbar #columnNav {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    position: relative;
    top: 5vh;
    font-size: 2.5em;
    left: -5vw;
  }
  #appAndNav #navbar #columnNav #aboutLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #techLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #portfolioLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #leftColumnNav {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: flex-start;
    position: relative;
    font-size: 1.2em;
    left: -25vw;
    padding-right: 8%;
    border-right: 0.2em solid black;
    margin-right: 25vw;
    transition: 0.3s ease-in-out;
  }
  #appAndNav #navbar #leftColumnNav #aboutLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #techLink {
    margin: 0vh 0vw 10vh 4vw;
    color: black;
  }
  #appAndNav #navbar #leftColumnNav #resumeLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #portfolioLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #contactLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #techList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -18vh;
    left: 10vw;
    border-left: 0.2em solid white;
    padding-left: -10%;
  }
  #appAndNav #navbar #techList ul {
    list-style-type: none;
  }
  #appAndNav #navbar #techList ul h3 {
    font-size: 1.4em;
    position: relative;
    top: -3vh;
    margin-bottom: -5vh;
  }
  #appAndNav #navbar #techList ul li {
    font-size: 1em;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 414/736) {
  #appAndNav #navbar {
    width: 200vw;
    height: 200vh;
    position: fixed;
    z-index: 500;
    margin-bottom: 50vh;
    background-color: #4cbaa0;
    border-top: 0.1em solid rgba(194, 145, 59, 0.5);
    border-bottom: 0.1em solid rgba(194, 145, 59, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5vh;
    left: -40vw;
    padding-right: 1vw;
  }
  #appAndNav #navbar h3 {
    font-size: 1.5em;
    margin: 0 0 0 0;
    position: relative;
    top: 25vh;
  }
  #appAndNav #navbar #columnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 5vh;
    font-size: 2.5em;
  }
  #appAndNav #navbar #columnNav #aboutLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #techLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #columnNav #portfolioLink {
    margin-bottom: 10vh;
  }
  #appAndNav #navbar #leftColumnNav {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: flex-start;
    position: relative;
    top: 10vh;
    font-size: 1.2em;
    left: -25vw;
    padding-right: 8%;
    border-right: 0.2em solid black;
    margin-right: 25vw;
    transition: 0.3s ease-in-out;
  }
  #appAndNav #navbar #leftColumnNav #aboutLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #techLink {
    margin: 0vh 0vw 10vh 4vw;
    color: black;
  }
  #appAndNav #navbar #leftColumnNav #resumeLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #portfolioLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #leftColumnNav #contactLink {
    margin: 0vh 0vw 10vh 4vw;
  }
  #appAndNav #navbar #techList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -18vh;
    left: 10vw;
    border-left: 0.2em solid white;
    padding-left: -10%;
  }
  #appAndNav #navbar #techList ul {
    list-style-type: none;
  }
  #appAndNav #navbar #techList ul h3 {
    font-size: 1.4em;
    position: relative;
    top: -3vh;
    margin-bottom: -5vh;
  }
  #appAndNav #navbar #techList ul li {
    font-size: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1400px) {
  #appAndNav #navbar {
    width: 200vw;
    height: 200vh;
    position: fixed;
    z-index: 500;
    margin-bottom: 50vh;
    background-color: #4cbaa0;
    border-top: 0.1em solid rgba(194, 145, 59, 0.5);
    border-bottom: 0.1em solid rgba(194, 145, 59, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: -5vh;
    left: -40vw;
    padding-right: 1vw;
  }
  #appAndNav #navbar h3 {
    font-size: 1.5em;
    margin: 0 0 0 0;
    position: relative;
    top: 5vh;
  }
  #appAndNav #navbar #columnNav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 5vh;
    font-size: 2.5em;
    left: 17vw;
  }
  #appAndNav #navbar #columnNav #aboutLink {
    margin-bottom: 10vh;
    color: white;
  }
  #appAndNav #navbar #columnNav #techLink {
    margin-bottom: 10vh;
    color: white;
  }
  #appAndNav #navbar #columnNav #resumeLink {
    margin-bottom: 10vh;
    text-decoration: none;
    color: white;
  }
  #appAndNav #navbar #columnNav #portfolioLink {
    margin-bottom: 10vh;
    color: white;
  }
  #appAndNav #navbar #columnNav #contactLink {
    color: white;
  }
  #appAndNav #navbar #leftColumnNav {
    display: flex;
    flex-direction: column;
    width: 25vw;
    align-items: flex-start;
    position: relative;
    top: 20vh;
    font-size: 1.2em;
    left: -25vw;
    padding-right: 8%;
    border-right: 0.2em solid black;
    margin-right: 25vw;
    transition: 0.3s ease-in-out;
  }
  #appAndNav #navbar #leftColumnNav #aboutLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #techLink {
    margin: 0vh 0vw 10vh 4vw;
    color: black;
  }
  #appAndNav #navbar #leftColumnNav #resumeLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
    text-decoration: none;
  }
  #appAndNav #navbar #leftColumnNav #portfolioLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #leftColumnNav #contactLink {
    margin: 0vh 0vw 10vh 4vw;
    color: white;
  }
  #appAndNav #navbar #techList {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -32vh;
    border-left: 0.2em solid white;
    padding-left: -10%;
  }
  #appAndNav #navbar #techList ul {
    list-style-type: none;
  }
  #appAndNav #navbar #techList ul h3 {
    font-size: 1.4em;
    position: relative;
    top: -3vh;
    margin-bottom: -5vh;
  }
  #appAndNav #navbar #techList ul li {
    font-size: 1em;
  }
}
@media only screen and (min-width: 1400px) {
  #appAndNav #navbar {
    display: none;
  }
}
@media only screen and (max-device-width: 480px) {
  #appStyle #content .about {
    width: 100%;
    position: relative;
    top: 155vh;
    left: -25vw;
    background-color: rgba(223, 214, 223, 0.893);
    padding-right: 2vw;
    padding-left: 2vw;
  }
  #appStyle #content .about #bioAbout {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -75vh;
  }
  #appStyle #content .about #bioAbout #bioHeader {
    display: none;
  }
  #appStyle #content .about #bioAbout #aboutAbout {
    margin: 0vh 2vw 0vh 2vw;
    font-weight: bold;
    font-size: 1.2em;
  }
  #appStyle #content .about #bioAbout #aboutAbout #subAbout {
    font-size: 0.8em;
  }
  #appStyle #content .about #bioAbout #aboutAbout #subAbout #contactLink {
    color: rgba(76, 186, 160, 0.571);
    left: 2vw;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 481px) {
  #appStyle {
    position: absolute;
  }
  #appStyle #content {
    position: relative;
  }
  #appStyle #content .about {
    position: relative;
    top: 60vh;
    left: -25vw;
    background-color: rgba(223, 214, 223, 0.893);
    padding: 2%;
  }
  #appStyle #content .about #bioAbout {
    display: flex;
    flex-direction: column;
  }
  #appStyle #content .about #bioAbout #aboutAbout {
    font-size: 1.2em;
  }
  #appStyle #content .about #bioAbout #aboutAbout #subAbout {
    font-size: 0.8em;
  }
  #appStyle #content .about #bioAbout #aboutAbout #contactLink {
    color: black;
  }
  #appStyle #content .about #bioAbout #aboutAbout #contactLink:hover {
    color: black;
    text-decoration-color: blue;
  }
}
@media only screen and (min-width: 1401px) {
  #appStyle {
    position: absolute;
  }
  #appStyle #content .about #bioAbout #aboutAbout {
    position: relative;
    bottom: 15vh;
    top: 30vh;
    width: 40vw;
    left: -4.5vw;
    background-color: rgba(223, 214, 223, 0.893);
    padding: 0 10vw 2vh 2vw;
    font-size: 1.2em;
  }
  #appStyle #content .about #bioAbout #aboutAbout #subAbout {
    font-size: 0.8em;
  }
  #appStyle #content .about #bioAbout #aboutAbout #contactLink {
    margin-left: 0.5vw;
    color: black;
  }
  #appStyle #content .about #bioAbout #aboutAbout #contactLink:hover {
    color: rgba(65, 125, 77, 0.721);
    text-decoration: none;
  }
}
@media only screen and (max-device-width: 480px) {
  #appStyle {
    position: absolute;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 320/568) {
  #appStyle #content .portfolio {
    position: relative;
    left: -45vw;
    top: 190vh;
  }
  #appStyle #content .portfolio #allPortfolio {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #appStyle #content .portfolio #allPortfolio #portfolioHeader {
    position: relative;
    left: 20vw;
    font-weight: bold;
    font-size: 2em;
  }
}
@media only screen and (max-device-width: 480px) {
  #appStyle #content .portfolio {
    position: relative;
    left: -45vw;
    top: 190vh;
  }
  #appStyle #content .portfolio #allPortfolio {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  #appStyle #content .portfolio #allPortfolio #portfolioHeader {
    position: relative;
    left: 20%;
    font-weight: bold;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    top: -10vh;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem {
    display: flex;
    flex-direction: column;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem #image {
    position: relative;
    margin-bottom: 40vh;
    margin-top: 5vh;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem #image .screenshot {
    width: 150%;
    position: absolute;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem #image .Chronos {
    width: 110%;
    left: 14vw;
    top: 10vh;
    margin: 10vh 0 40vh 0;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem #image .Chronos + .titleAndDescription {
    margin-top: 10vh;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem #image .titleAndDescription {
    background-color: rgba(223, 214, 223, 0.893);
    padding: -5% 2% -10% 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50vh;
    left: 20vw;
    margin: -20% -10% -20% -10%;
    width: 100%;
    height: 80%;
    padding: 0 5% 0 5%;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem #image .titleAndDescription #title {
    font-size: 1em;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem #image .titleAndDescription #description {
    width: 100%;
    height: 70%;
    position: relative;
    top: 20vh;
    z-index: 200;
    opacity: 1;
    font-size: 0.5em;
    transition: 300ms ease-in-out;
    font-size: 1em;
    margin: -20vh 0vw 30vh 0vw;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem .Chronos + nav {
    position: relative;
    top: 20vh;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem nav {
    position: relative;
    bottom: 0;
    top: 53vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 60vw;
    z-index: 200;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem nav #githubLink {
    position: relative;
    width: 100%;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem nav #githubLink #githubIcon {
    width: 15%;
    height: auto;
    position: relative;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem nav #deployLink {
    position: relative;
    left: -20vw;
    width: 100%;
  }
  #appStyle #content .portfolio #allPortfolio #portfolio #gridItem nav #deployLink #globeIcon {
    width: 15%;
    height: auto;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 480px) {
  #allPortfolio {
    position: absolute;
    top: 130vh;
    width: 100%;
    height: auto;
    left: -23vw;
  }
  #allPortfolio #portfolioHeader {
    position: relative;
    font-size: 2em;
    left: -2vw;
    background-color: rgba(223, 214, 223, 0.893);
    -webkit-box-shadow: 0px 7px 25px 3px #857e85;
    -moz-box-shadow: 0px 7px 25px 3px #857e85;
    box-shadow: 0px 7px 25px 3px #857e85;
  }

  #portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 1vh;
  }
  #portfolio #gridItem:hover {
    display: flex;
    flex-direction: column;
  }
  #portfolio #gridItem:hover #image {
    position: relative;
    width: 100%;
    height: auto;
    bottom: -10vh;
    top: 5vh;
  }
  #portfolio #gridItem:hover #image .screenshot {
    width: 300%;
    position: absolute;
    opacity: 0.3;
    -moz-transform: translateY(-10vh);
    -webkit-transform: translateY(-10vh);
    transform: translateY(-10vh);
    transition: 600ms ease-in-out;
  }
  #portfolio #gridItem:hover #image .Chronos {
    width: 240%;
    left: 13vw;
    position: relative;
  }
  #portfolio #gridItem:hover #image #title {
    display: none;
  }
  #portfolio #gridItem:hover #image #description {
    width: 200%;
    height: 30%;
    position: relative;
    top: 10vh;
    left: 9vw;
    opacity: 1;
    background-color: rgba(223, 214, 223, 0.893);
    -moz-transform: translateY(36vh) translateX(8vw);
    -webkit-transform: translateY(36vh) translateX(8vw);
    transform: translateY(36vh) translateX(8vw);
    z-index: 100;
    transition: 300ms ease-in-out;
    font-size: 1/5em;
    margin: -10vh 0vw 20vh 0vw;
    -webkit-box-shadow: 0px 7px 25px 3px #857e85;
    -moz-box-shadow: 0px 7px 25px 3px #857e85;
    box-shadow: 0px 7px 25px 3px #857e85;
    padding: 2%;
  }
  #portfolio #gridItem:hover #image .screenshot + .Chronos {
    margin-bottom: -200vh;
  }
  #portfolio #gridItem:hover nav {
    position: relative;
    bottom: 0;
    top: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 35vw;
    z-index: 200;
  }
  #portfolio #gridItem:hover nav #githubLink {
    position: relative;
    width: 100%;
  }
  #portfolio #gridItem:hover nav #githubLink #githubIcon {
    width: 30%;
    height: auto;
    position: relative;
  }
  #portfolio #gridItem:hover nav #deployLink {
    position: relative;
    left: 4vw;
    width: 100%;
  }
  #portfolio #gridItem:hover nav #deployLink #globeIcon {
    width: 30%;
    height: auto;
    position: relative;
  }
  #portfolio #gridItem {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: auto;
    margin-bottom: 20vh;
    position: relative;
    left: -15vw;
  }
  #portfolio #gridItem #image {
    position: relative;
    margin-bottom: 40vh;
  }
  #portfolio #gridItem #image .screenshot {
    width: 300%;
    position: absolute;
    margin-bottom: 200vh;
  }
  #portfolio #gridItem #image .Chronos {
    width: 240%;
    left: 13vw;
    position: relative;
  }
  #portfolio #gridItem #image #title {
    display: none;
  }
  #portfolio #gridItem #image #description {
    width: 140%;
    height: 70%;
    position: relative;
    top: 30vh;
    opacity: 0;
  }
  #portfolio #gridItem nav {
    display: none;
  }
}
@media only screen and (min-width: 1400px) {
  #allPortfolio {
    position: absolute;
    left: 30vw;
    top: 130vh;
    bottom: 20vh;
    width: 100%;
    height: auto;
  }
  #allPortfolio #portfolioHeader {
    position: relative;
    font-size: 4em;
    left: 10vw;
    width: 20vw;
    background-color: rgba(223, 214, 223, 0.893);
    -webkit-box-shadow: 0px 7px 25px 3px #857e85;
    -moz-box-shadow: 0px 7px 25px 3px #857e85;
    box-shadow: 0px 7px 25px 3px #857e85;
  }
  #allPortfolio #portfolio {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 1vh;
  }
  #allPortfolio #portfolio #gridItem:hover {
    display: flex;
    flex-direction: column;
  }
  #allPortfolio #portfolio #gridItem:hover #image {
    position: relative;
  }
  #allPortfolio #portfolio #gridItem:hover #image .screenshot {
    opacity: 0.3;
    width: 140%;
    position: absolute;
    top: -10vh;
    -moz-transform: translateY(-22vh);
    -webkit-transform: translateY(-22vh);
    transform: translateY(-22vh);
    transition: 600ms ease-in-out;
  }
  #allPortfolio #portfolio #gridItem:hover #image .Chronos {
    width: 105%;
    left: 9vw;
    top: 2vh;
  }
  #allPortfolio #portfolio #gridItem:hover #image #title {
    display: none;
  }
  #allPortfolio #portfolio #gridItem:hover #image #description {
    width: 80%;
    height: 70%;
    position: relative;
    top: -10vh;
    left: 6vw;
    opacity: 1;
    -moz-transform: translateY(46vh) translateX(8vw);
    -webkit-transform: translateY(46vh) translateX(8vw);
    transform: translateY(46vh) translateX(8vw);
    z-index: 100;
    transition: 300ms ease-in-out;
    font-size: 1em;
    margin: -10vh 0vw 20vh 0vw;
    background-color: rgba(223, 214, 223, 0.893);
    -webkit-box-shadow: 0px 7px 25px 3px #857e85;
    -moz-box-shadow: 0px 7px 25px 3px #857e85;
    box-shadow: 0px 7px 25px 3px #857e85;
    padding: 2%;
  }
  #allPortfolio #portfolio #gridItem:hover nav {
    position: relative;
    bottom: 0;
    top: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    left: 15vw;
    z-index: 200;
  }
  #allPortfolio #portfolio #gridItem:hover nav #githubLink {
    position: relative;
    width: 100%;
  }
  #allPortfolio #portfolio #gridItem:hover nav #githubLink #githubIcon {
    width: 30%;
    height: auto;
    position: relative;
  }
  #allPortfolio #portfolio #gridItem:hover nav #deployLink {
    position: relative;
    left: 4vw;
    width: 100%;
  }
  #allPortfolio #portfolio #gridItem:hover nav #deployLink #globeIcon {
    width: 30%;
    height: auto;
    position: relative;
  }
  #allPortfolio #portfolio #gridItem {
    display: flex;
    flex-direction: column;
    width: 100vh;
    height: auto;
    margin-bottom: 60vh;
    position: relative;
    left: 1vw;
  }
  #allPortfolio #portfolio #gridItem #image {
    position: relative;
  }
  #allPortfolio #portfolio #gridItem #image .screenshot {
    width: 140%;
    position: absolute;
    top: -10vh;
  }
  #allPortfolio #portfolio #gridItem #image .Chronos {
    width: 105%;
    left: 9vw;
    top: 2vh;
  }
  #allPortfolio #portfolio #gridItem #image #title {
    font-size: 1.5em;
    position: absolute;
    left: 30.7vw;
    top: 59.5vh;
    width: 60%;
    background-color: rgba(223, 214, 223, 0.893);
    padding: 2%;
  }
  #allPortfolio #portfolio #gridItem #image #description {
    width: 120%;
    height: 70%;
    position: relative;
    top: 30vh;
    opacity: 0;
    left: -20vw;
  }
  #allPortfolio #portfolio #gridItem nav {
    display: none;
  }
}
@media only screen and (device-aspect-ratio: 360/640) {
  #appStyle .contact {
    position: relative;
    top: 262vh;
    left: -30vw;
  }
  #appStyle .contact #contact #contactNav #contactHeader {
    position: relative;
    top: -5vh;
    font-size: 3em;
    left: -7vw;
  }
  #appStyle .contact #contact form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: none;
    width: 100%;
    left: -15vw;
    top: 10vh;
  }
  #appStyle .contact #contact form #submitEmail {
    position: relative;
    left: -5vw;
  }
  #appStyle .contact #contact #alternateContact {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -13vw;
    top: -35vh;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton {
    width: 40%;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton #linkedInIcon {
    width: 50%;
  }
  #appStyle .contact #contact #alternateContact #githubButton {
    width: 40%;
    position: relative;
    left: 3vw;
  }
  #appStyle .contact #contact #alternateContact #githubButton #githubIcon {
    width: 50%;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 411/731) {
  #appStyle .contact {
    position: relative;
    top: 262vh;
    left: -15vw;
  }
  #appStyle .contact #contact #contactNav #contactHeader {
    position: relative;
    top: -5vh;
    font-size: 3em;
    left: -7vw;
  }
  #appStyle .contact #contact form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: none;
    width: 100%;
    left: -15vw;
    top: 10vh;
  }
  #appStyle .contact #contact form #submitEmail {
    position: relative;
    left: -5vw;
  }
  #appStyle .contact #contact #alternateContact {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -13vw;
    top: -35vh;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton {
    width: 40%;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton #linkedInIcon {
    width: 50%;
  }
  #appStyle .contact #contact #alternateContact #githubButton {
    width: 40%;
    position: relative;
    left: 3vw;
  }
  #appStyle .contact #contact #alternateContact #githubButton #githubIcon {
    width: 50%;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 375/667) {
  #appStyle .contact {
    position: relative;
    top: 240vh;
    left: -15vw;
  }
  #appStyle .contact #contact #contactNav #contactHeader {
    position: relative;
    top: -5vh;
    font-size: 3em;
    left: -7vw;
  }
  #appStyle .contact #contact form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: none;
    width: 100%;
    left: -15vw;
    top: 10vh;
  }
  #appStyle .contact #contact form #submitEmail {
    position: relative;
    left: -5vw;
  }
  #appStyle .contact #contact #alternateContact {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -13vw;
    top: -35vh;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton {
    width: 40%;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton #linkedInIcon {
    width: 50%;
  }
  #appStyle .contact #contact #alternateContact #githubButton {
    width: 40%;
    position: relative;
    left: 3vw;
  }
  #appStyle .contact #contact #alternateContact #githubButton #githubIcon {
    width: 50%;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 414/736) {
  #appStyle .contact {
    position: relative;
    top: 240vh;
    left: -15vw;
  }
  #appStyle .contact #contact #contactNav #contactHeader {
    position: relative;
    top: -5vh;
    font-size: 3em;
    left: -7vw;
  }
  #appStyle .contact #contact form {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: none;
    width: 100%;
    left: -15vw;
    top: 10vh;
  }
  #appStyle .contact #contact form #submitEmail {
    position: relative;
    left: -5vw;
  }
  #appStyle .contact #contact #alternateContact {
    display: flex;
    flex-direction: row;
    position: relative;
    left: -13vw;
    top: -35vh;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton {
    width: 40%;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton #linkedInIcon {
    width: 50%;
  }
  #appStyle .contact #contact #alternateContact #githubButton {
    width: 40%;
    position: relative;
    left: 3vw;
  }
  #appStyle .contact #contact #alternateContact #githubButton #githubIcon {
    width: 50%;
  }
}
@media only screen and (max-width: 1400px) and (min-width: 480px) {
  #appStyle .contact {
    position: relative;
    top: 125vh;
    left: -3vw;
  }
  #appStyle .contact #contactNav {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 24vw;
  }
  #appStyle .contact #contactNav #contactHeader {
    font-size: 2em;
    align-self: center;
    position: relative;
    margin-bottom: 1vh;
  }
  #appStyle .contact #contactNav #contactHome {
    align-self: center;
    margin-bottom: -2vh;
  }
  #appStyle .contact #contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    top: 110vh;
    left: -25vw;
    margin: 85vh 0vw 0vh 5vw;
  }
  #appStyle .contact #contact form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 3vh;
    padding: none;
    width: 100%;
  }
  #appStyle .contact #contact #alternateContact {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 18vw;
    top: 5vw;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton {
    width: 20%;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton #linkedInIcon {
    width: 50%;
  }
  #appStyle .contact #contact #alternateContact #githubButton {
    width: 20%;
    position: relative;
    left: 3vw;
  }
  #appStyle .contact #contact #alternateContact #githubButton #githubIcon {
    width: 50%;
  }
}
@media only screen and (min-width: 1400px) {
  #appStyle {
    position: absolute;
  }
  #appStyle .contact {
    position: relative;
    top: 345vh;
    left: 15vw;
  }
  #appStyle .contact #contactNav {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #appStyle .contact #contactNav #contactHeader {
    font-size: 4em;
  }
  #appStyle .contact #contactNav #contactHome {
    position: relative;
  }
  #appStyle .contact #contact {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200%;
  }
  #appStyle .contact #contact form {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5vh;
    left: 2.5vw;
  }
  #appStyle .contact #contact #alternateContact {
    display: flex;
    position: relative;
    margin-bottom: 40vh;
    left: -0.5vw;
    top: 4vw;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton {
    width: 20%;
  }
  #appStyle .contact #contact #alternateContact #linkedInButton #linkedInIcon {
    width: 50%;
  }
  #appStyle .contact #contact #alternateContact #githubButton {
    width: 20%;
  }
  #appStyle .contact #contact #alternateContact #githubButton #githubIcon {
    width: 50%;
  }
}
@media only screen and (device-aspect-ratio: 411/731) {
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
  }
  #appStyle #littleBubble {
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    border-radius: 75%;
    top: -15vh;
    left: -20vw;
    z-index: 0;
    width: 35vw;
    height: 20vh;
    opacity: 0.5;
    align-self: flex-end;
  }
  #appStyle #littleBubble img {
    display: none;
  }
  #appStyle #landingPage {
    border-radius: 75%;
    border: 0.2em solid white;
    width: 80vw;
    height: 45vh;
    left: -7vw;
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: -10vh;
  }
  #appStyle #landingPage #titleHeading {
    align-self: center;
    font-size: 1.5em;
  }
  #appStyle #landingPage #titleSubheading {
    align-self: center;
    font-size: 1em;
  }
  #appStyle #navButton {
    position: fixed;
    top: 2vh;
    border-radius: 75%;
    padding: 1%;
    background-color: black;
    color: white;
    z-index: 1000;
    width: 20vw;
    height: 10vh;
  }
  #appStyle #navButton h3 {
    font-size: 1.7em;
    position: relative;
    left: 0.8vw;
    top: -1vh;
  }
  #appStyle #navButton:hover {
    background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
    text-decoration: none;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 320/568) {
  #background {
    overflow-x: hidden;
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1vw;
  }

  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
  }
  #appStyle #littleBubble {
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    border-radius: 75%;
    top: -15vh;
    left: -20vw;
    z-index: 0;
    width: 35vw;
    height: 20vh;
    opacity: 0.5;
    align-self: flex-end;
  }
  #appStyle #littleBubble img {
    display: none;
  }
  #appStyle #landingPage {
    border-radius: 75%;
    border: 0.2em solid white;
    width: 80vw;
    height: 45vh;
    left: -7vw;
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: -10vh;
  }
  #appStyle #landingPage #titleHeading {
    align-self: center;
    font-size: 1.5em;
  }
  #appStyle #landingPage #titleSubheading {
    align-self: center;
    font-size: 1em;
  }
  #appStyle #navButton {
    position: fixed;
    top: 2vh;
    border-radius: 75%;
    padding: 1%;
    background-color: black;
    color: white;
    z-index: 1000;
    width: 20vw;
    height: 10vh;
  }
  #appStyle #navButton h3 {
    font-size: 1em;
    position: relative;
    left: 2.5vw;
  }
  #appStyle #navButton:hover {
    background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
    text-decoration: none;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 360/640) {
  #background {
    overflow-x: hidden;
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1vw;
  }

  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
  }
  #appStyle #littleBubble {
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    border-radius: 75%;
    top: -15vh;
    left: -20vw;
    z-index: 0;
    width: 35vw;
    height: 20vh;
    opacity: 0.5;
    align-self: flex-end;
  }
  #appStyle #littleBubble img {
    display: none;
  }
  #appStyle #landingPage {
    border-radius: 75%;
    border: 0.2em solid white;
    width: 80vw;
    height: 45vh;
    left: -20vw;
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: -10vh;
  }
  #appStyle #landingPage #titleHeading {
    align-self: center;
    font-size: 1.5em;
  }
  #appStyle #landingPage #titleSubheading {
    align-self: center;
    font-size: 1em;
  }
  #appStyle #navButton {
    position: fixed;
    top: 2vh;
    border-radius: 75%;
    padding: 1%;
    background-color: black;
    color: white;
    z-index: 1000;
    width: 20vw;
    height: 10vh;
  }
  #appStyle #navButton h3 {
    font-size: 1em;
    position: relative;
    left: 1vw;
  }
  #appStyle #navButton:hover {
    background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
    text-decoration: none;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 375/667) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 600vh;
    position: absolute;
    left: -1vw;
  }

  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
  }
  #appStyle #littleBubble {
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    border-radius: 75%;
    top: -20vh;
    left: -15vw;
    z-index: 0;
    width: 30vw;
    height: 15vh;
    opacity: 0.5;
    align-self: flex-end;
  }
  #appStyle #littleBubble img {
    display: none;
  }
  #appStyle #landingPage {
    border-radius: 75%;
    border: 0.2em solid white;
    width: 90vw;
    height: 50vh;
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -10vh;
  }
  #appStyle #landingPage #titleHeading {
    position: relative;
    font-size: 2.1em;
  }
  #appStyle #landingPage #titleSubheading {
    align-self: center;
    font-size: 1.5em;
  }
  #appStyle #navButton {
    position: fixed;
    top: 2vh;
    left: 2vw;
    border-radius: 75%;
    padding: 1%;
    background-color: black;
    color: white;
    z-index: 1000;
    width: 20vw;
    height: 10vh;
  }
  #appStyle #navButton h3 {
    font-size: 1.5em;
    position: relative;
    left: 1.1vw;
    top: -1vh;
  }
  #appStyle #navButton:hover {
    background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
    text-decoration: none;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 375/812) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 400vh;
    position: absolute;
    left: -1vw;
  }

  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
  }
  #appStyle #littleBubble {
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    border-radius: 75%;
    top: -20vh;
    left: -15vw;
    z-index: 0;
    width: 35vw;
    height: 15vh;
    opacity: 0.5;
    align-self: flex-end;
  }
  #appStyle #littleBubble img {
    display: none;
  }
  #appStyle #landingPage {
    border-radius: 75%;
    border: 0.2em solid white;
    width: 90vw;
    height: 40vh;
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -5vh;
  }
  #appStyle #landingPage #titleHeading {
    align-self: center;
    font-size: 2.1em;
  }
  #appStyle #landingPage #titleSubheading {
    align-self: center;
    font-size: 1.6em;
  }
  #appStyle #navButton {
    position: fixed;
    top: 2vh;
    left: 5vw;
    border-radius: 75%;
    padding: 1%;
    background-color: black;
    color: white;
    z-index: 1000;
    width: 30vw;
    height: 15vh;
  }
  #appStyle #navButton h3 {
    font-size: 1.8em;
    position: relative;
    left: 3.5vw;
    top: 1.5vh;
  }
  #appStyle #navButton:hover {
    background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
    text-decoration: none;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 414/736) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 400vh;
    position: absolute;
    left: -40vw;
  }

  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
  }
  #appStyle #littleBubble {
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    border-radius: 75%;
    top: -20vh;
    left: -15vw;
    z-index: 0;
    width: 35vw;
    height: 20vh;
    opacity: 0.5;
    align-self: flex-end;
  }
  #appStyle #littleBubble img {
    display: none;
  }
  #appStyle #landingPage {
    border-radius: 75%;
    border: 0.2em solid white;
    width: 90vw;
    height: 50vh;
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    left: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -15vh;
  }
  #appStyle #landingPage #titleHeading {
    align-self: center;
    font-size: 2.1em;
  }
  #appStyle #landingPage #titleSubheading {
    align-self: center;
    font-size: 1.6em;
  }
  #appStyle #navButton {
    position: fixed;
    top: 2vh;
    left: 5vw;
    border-radius: 75%;
    padding: 1%;
    background-color: black;
    color: white;
    z-index: 1000;
    width: 22vw;
    height: 11vh;
  }
  #appStyle #navButton h3 {
    font-size: 1.8em;
    position: relative;
    left: 0.5vw;
    top: -1vh;
  }
  #appStyle #navButton:hover {
    background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
    text-decoration: none;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1400px) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 10000vh;
    position: absolute;
    left: -40vw;
  }

  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
  }
  #appStyle #littleBubble {
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    border-radius: 75%;
    top: 10vh;
    left: -15vw;
    z-index: 0;
    width: 15vw;
    height: 20vh;
    align-self: flex-end;
  }
  #appStyle #littleBubble img {
    width: 11vw;
    border-radius: 75%;
    height: 15vh;
    position: absolute;
    left: 2vw;
    top: 2vh;
  }
  #appStyle #landingPage {
    border-radius: 75%;
    border: 0.2em solid white;
    width: 45vw;
    height: 60vh;
    background-color: rgba(76, 186, 160, 0.571);
    position: relative;
    left: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 20vh;
  }
  #appStyle #landingPage #titleHeading {
    align-self: center;
    font-size: 2.1em;
  }
  #appStyle #landingPage #titleSubheading {
    align-self: center;
    font-size: 1.6em;
  }
  #appStyle #navButton {
    position: fixed;
    top: 2vh;
    left: 5vw;
    border-radius: 75%;
    padding: 1%;
    background-color: black;
    color: white;
    z-index: 1000;
    max-width: 10vw;
    max-height: 11vh;
  }
  #appStyle #navButton h3 {
    font-size: 1.8em;
    position: relative;
    top: -1vh;
  }
  #appStyle #navButton:hover {
    background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
    text-decoration: none;
  }
}
@media only screen and (min-width: 1401px) {
  #appStyle #littleBubble {
    display: none;
  }
  #appStyle #littleBubble img {
    display: none;
  }
  #appStyle #titleHeading {
    display: none;
  }
  #appStyle #titleSubheading {
    display: none;
  }
  #appStyle #navButton {
    opacity: 0;
  }
}
#app {
  font-family: "Montserrat", sans-serif;
  z-index: 1000;
  overflow-x: hidden;
}
#app #appStyle #content {
  margin: 0vh -5vw 0vh 45vw;
  box-sizing: border-box;
  width: 70vw;
}
#app #appStyle #content #bio #typing {
  margin: 30vh 0vw 45vh -20vw;
  font-size: 3em;
}

@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 375/667) {
  #background {
    overflow-x: hidden;
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1vw;
    top: 645vh;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 411/731) {
  #background {
    overflow-x: hidden;
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1vw;
    top: 600vh;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 320/568) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 110%;
    height: 65%;
    top: 615vh;
    position: absolute;
    left: -1vw;
  }
}
@media only screen and (max-device-width: 480px) and (device-aspect-ratio: 414/736) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 110%;
    height: 65%;
    top: 590vh;
    position: absolute;
    left: -1vw;
  }
}
@media only screen and (max-width: 721px) and (min-width: 480px) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 110%;
    height: 65%;
    top: 260vh;
    position: absolute;
    left: -1vw;
  }

  #appStyle #content #navButton {
    display: none;
  }
}
@media only screen and (min-width: 721px) {
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 110%;
    height: auto;
    top: 470vh;
    position: absolute;
    left: -1vw;
  }

  #appStyle {
    top: -5vh;
  }
  #appStyle #content #navButton {
    display: none;
  }
}

/*# sourceMappingURL=index.css.map */
