@import 'landing-page.scss';
@import 'navbar.scss';
@import 'about.scss';
@import 'portfolio.scss';
@import 'contact.scss';

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../images/background-2.png");
  overflow-x: hidden;
  #appStyle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  };
};

@media only screen and (min-width: 480px){
  #landingPage {
    display: none;
  };
  #navButton {
    display: none;
  };
};