@media only screen and (device-aspect-ratio: 411/731)
{
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
    #littleBubble {
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      border-radius: 75%;
      top: -15vh;
      left: -20vw;
      z-index: 0;
      width: 35vw;
      height: 20vh;
      opacity: 0.5;
      align-self: flex-end;
      img {
        display: none;
      }
    };
    #landingPage {
      border-radius: 75%;
      border: 0.2em solid white;
      width: 80vw;
      height: 45vh;
      left: -7vw;
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      top: -10vh;
      #titleHeading {
        align-self: center;
        font-size: 1.5em;
      };
      #titleSubheading {
        align-self: center;
        font-size: 1em;
      };
    };
    #navButton {
      position: fixed;
      top: 2vh;
      border-radius: 75%;
      padding: 1%;
      background-color: black;
      color: white;
      z-index: 1000;
      width: 20vw;
      height: 10vh;
      h3 {
        font-size: 1.7em;
        position: relative;
        left: 0.8vw;
        top: -1vh;
      };
    };
    #navButton:hover {
      background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
      text-decoration: none;
    };
  };
};
@media only screen and (max-device-width: 480px)
                  and (device-aspect-ratio: 320/568)
{
  #background {
    overflow-x: hidden;
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1vw;
  };
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
    #littleBubble {
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      border-radius: 75%;
      top: -15vh;
      left: -20vw;
      z-index: 0;
      width: 35vw;
      height: 20vh;
      opacity: 0.5;
      align-self: flex-end;
      img {
        display: none;
      };
    };
    #landingPage {
      border-radius: 75%;
      border: 0.2em solid white;
      width: 80vw;
      height: 45vh;
      left: -7vw;
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      top: -10vh;
      #titleHeading {
        align-self: center;
        font-size: 1.5em;
      };
      #titleSubheading {
        align-self: center;
        font-size: 1em;
      };
    };
    #navButton {
      position: fixed;
      top: 2vh;
      border-radius: 75%;
      padding: 1%;
      background-color: black;
      color: white;
      z-index: 1000;
      width: 20vw;
      height: 10vh;
      h3 {
        font-size: 1em;
        position: relative;
        left: 2.5vw;
      };
    };
    #navButton:hover {
      background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
      text-decoration: none;
    };
  };
};

@media only screen and (max-device-width: 480px)
                  and (device-aspect-ratio: 360/640)
{
  #background {
    overflow-x: hidden;
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -1vw;
  };
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
    #littleBubble {
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      border-radius: 75%;
      top: -15vh;
      left: -20vw;
      z-index: 0;
      width: 35vw;
      height: 20vh;
      opacity: 0.5;
      align-self: flex-end;
      img {
        display: none;
      };
    };
    #landingPage {
      border-radius: 75%;
      border: 0.2em solid white;
      width: 80vw;
      height: 45vh;
      left: -20vw;
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
      top: -10vh;
      #titleHeading {
        align-self: center;
        font-size: 1.5em;
      };
      #titleSubheading {
        align-self: center;
        font-size: 1em;
      };
    };
    #navButton {
      position: fixed;
      top: 2vh;
      border-radius: 75%;
      padding: 1%;
      background-color: black;
      color: white;
      z-index: 1000;
      width: 20vw;
      height: 10vh;
      h3 {
        font-size: 1em;
        position: relative;
        left: 1vw;
      };
    };
    #navButton:hover {
      background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
      text-decoration: none;
    };
  };
};
@media only screen and (max-device-width:  480px) 
                  and (device-aspect-ratio: 375/667)
{
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 600vh;
    position: absolute;
    left: -1vw;
  };
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
    #littleBubble {
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      border-radius: 75%;
      top: -20vh;
      left: -15vw;
      z-index: 0;
      width: 30vw;
      height: 15vh;
      opacity: 0.5;
      align-self: flex-end;
      img {
        display: none;
      };
    };
    #landingPage {
      border-radius: 75%;
      border: 0.2em solid white;
      width: 90vw;
      height: 50vh;
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      left: 3vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: -10vh;
      #titleHeading {
        position: relative;
        font-size: 2.1em;
      };
      #titleSubheading {
        align-self: center;
        font-size: 1.5em;
      };
    };
    #navButton {
      position: fixed;
      top: 2vh;
      left: 2vw;
      border-radius: 75%;
      padding: 1%;
      background-color: black;
      color: white;
      z-index: 1000;
      width: 20vw;
      height: 10vh;
      h3 {
        font-size: 1.5em;
        position: relative;
        left: 1.1vw; 
        top: -1vh;
      }
    };
    #navButton:hover {
      background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
      text-decoration: none;
    };
  };
};

@media only screen and (max-device-width:  480px) 
                  and (device-aspect-ratio: 375/812)
{
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 400vh;
    position: absolute;
    left: -1vw;
  };
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
    #littleBubble {
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      border-radius: 75%;
      top: -20vh;
      left: -15vw;
      z-index: 0;
      width: 35vw;
      height: 15vh;
      opacity: 0.5;
      align-self: flex-end;
      img {
        display: none;
      };
    };
    #landingPage {
      border-radius: 75%;
      border: 0.2em solid white;
      width: 90vw;
      height: 40vh;
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      left: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: -5vh;
      #titleHeading {
        align-self: center;
        font-size: 2.1em;
      };
      #titleSubheading {
        align-self: center;
        font-size: 1.6em;
      };
    };
    #navButton {
      position: fixed;
      top: 2vh;
      left: 5vw;
      border-radius: 75%;
      padding: 1%;
      background-color: black;
      color: white;
      z-index: 1000;
      width: 30vw;
      height: 15vh;
      h3 {
        font-size: 1.8em;
        position: relative;
        left: 3.5vw; 
        top: 1.5vh;
      }
    };
    #navButton:hover {
      background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
      text-decoration: none;
    };
  };
};

@media only screen and (max-device-width:  480px) 
                  and (device-aspect-ratio: 414/736) 
{
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 400vh;
    position: absolute;
    left: -40vw;
  };
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
    #littleBubble {
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      border-radius: 75%;
      top: -20vh;
      left: -15vw;
      z-index: 0;
      width: 35vw;
      height: 20vh;
      opacity: 0.5;
      align-self: flex-end;
      img {
        display: none;
      };
    };
    #landingPage {
      border-radius: 75%;
      border: 0.2em solid white;
      width: 90vw;
      height: 50vh;
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      left: 2vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: -15vh;
      #titleHeading {
        align-self: center;
        font-size: 2.1em;
      };
      #titleSubheading {
        align-self: center;
        font-size: 1.6em;
      };
    };
    #navButton {
      position: fixed;
      top: 2vh;
      left: 5vw;
      border-radius: 75%;
      padding: 1%;
      background-color: black;
      color: white;
      z-index: 1000;
      width: 22vw;
      height: 11vh;
      h3 {
        font-size: 1.8em;
        position: relative;
        left: 0.5vw; 
        top: -1vh;
      }
    };
    #navButton:hover {
      background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
      text-decoration: none;
    };
  };
};

@media only screen and (min-width: 480px)
                    and (max-width: 1400px)
{
  #background {
    opacity: 0.4;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 10000vh;
    position: absolute;
    left: -40vw;
  };
  #appStyle {
    top: 32vh;
    display: flex;
    flex-direction: column;
    #littleBubble {
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      border-radius: 75%;
      top: 10vh;
      left: -15vw;
      z-index: 0;
      width: 15vw;
      height: 20vh;
      align-self: flex-end;
      img {
        width: 11vw;
        border-radius: 75%;
        height: 15vh;
        position: absolute;
        left: 2vw;
        top: 2vh;
      };
    };
    #landingPage {
      border-radius: 75%;
      border: 0.2em solid white;
      width: 45vw;
      height: 60vh;
      background-color: rgba(76, 186, 160, 0.571);
      position: relative;
      left: 25vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      top: 20vh;
      #titleHeading {
        align-self: center;
        font-size: 2.1em;
      };
      #titleSubheading {
        align-self: center;
        font-size: 1.6em;
      };
    };
    #navButton {
      position: fixed;
      top: 2vh;
      left: 5vw;
      border-radius: 75%;
      padding: 1%;
      background-color: black;
      color: white;
      z-index: 1000;
      max-width: 10vw;
      max-height: 11vh;
      h3 {
        font-size: 1.8em;
        position: relative;
        top: -1vh;
      }
    };
    #navButton:hover {
      background-image: linear-gradient(black, rgba(76, 186, 160, 0.571));
      text-decoration: none;
    };
  };
};
// @media only screen and (min-width: 481px)
//                    and (max-width: 1399px)
// {
//   #background {
//     position: relative;
//     top: 600vh;
//   }
// }
@media only screen and (min-width:  1401px){
  #appStyle {
    #littleBubble {
      display: none;
      img {
        display: none;
      }
    };
    #titleHeading {
      display: none;
    };
    #titleSubheading {
      display: none;
    };
    #navButton {
      opacity: 0;
    };
  }
}