#allPortfolio {
  background-color: white;
  max-width: 100vw;
  margin-left: 10vw;
  margin-top: 18vh;
  padding-left: 6vw;
  #portfolioHeader {
    align-self: center;
    margin-left: 30vw;
    padding-top: 3vh;
  };
  #gridItem {
    max-width: 100vw;
    nav {
      opacity: 0;
      max-width: 100vw;
      position: absolute;
      float: left;
      z-index: 5000;
      left: 36vw;
      top: 13vh;
      border-radius: 25%;
      a {
        margin: 0 2vw 0 2vw;
        
        img {
          max-width: 10vw; 
        };
      };
    };
    #image {
      position: relative;
      .screenshot {
        max-width: 90vw;
        max-height: auto;
      };
      .titleAndDescription {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 1000;
        max-width: 90vw;
        max-height: auto;
        #title {
          color: #36CCCA;
          font-size: 1.1em;
        };
        #description {
          font-size: 0.9em;
        };
      };
    };
  };
  #gridItem:hover {
    max-width: 100vw;
    position: relative;
    z-index: 0;
    nav {
      opacity: 1;
      transition: 0.8s smooth ease-in-out;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2%;
      #image {
        opacity: 0.5;
      };
    };
    // nav:hover {
    //   position: absolute;
    //   background-color: grey
    //   img {
    //     max-width: 10vw;
    //     max-height: auto;
    //   };
    // };
  };
  // #gridItem:hover {
  //   nav {
  //     background-color: rgba(0, 0, 0, 0.5);
  //     max-width: 90vw;
  //     margin-left: 160vw;
  //     z-index: 2000;
  //     position
  //     a {
  //       // max-width: 15vw;
  //       img {
  //         max-width: 50vw;
  //         align-self: center;
  //         justify-self: center;


         
  //       };
  //     };
  //   };
  // };
};