@media only screen and (max-device-width:  480px)
{
  #appStyle {
    position: absolute;
    #content {
      @media only screen and (device-aspect-ratio: 320/568)
      {
        .portfolio {
          position: relative;
          left: -45vw;
          top: 190vh;
          #allPortfolio {
            position: relative;
            display: flex;
            flex-direction: column;
            #portfolioHeader {
              position: relative;
              left: 20vw;
              font-weight: bold;
              font-size: 2em;
            };
          };
        };
      }
      .portfolio {
        position: relative;
        left: -45vw;
        top: 190vh;
        #allPortfolio {
          position: relative;
          display: flex;
          flex-direction: column;
          #portfolioHeader {
            position: relative;
            left: 20%;
            font-weight: bold;
          };
          #portfolio {
            position: relative;
            display: flex;
            flex-direction: column;
            top: -10vh;
            
            #gridItem {
              display: flex;
              flex-direction: column;
              #image {
                position: relative;
                margin-bottom: 40vh;
                margin-top: 5vh;
                .screenshot {
                  width: 150%;
                  position: absolute;
                };
                .Chronos {
                  width: 110%;
                  left: 14vw;
                  top: 10vh;
                  margin: 10vh 0 40vh 0;
                };
                .Chronos + .titleAndDescription {
                  margin-top: 10vh;
                }
               .titleAndDescription {
                background-color: rgba(223, 214, 223, 0.893);
                padding: -5% 2% -10% 2%;
                display: flex;
                flex-direction: column;
                position: relative;
                top: 50vh;
                left: 20vw;
                margin: -20% -10% -20% -10%;
                width: 100%;
                height: 80%;
                padding: 0 5% 0 5%;
                #title {
                  font-size: 1em;
                };
                #description {
                  width: 100%;
                  height: 70%;
                  position: relative;
                  top: 20vh;
                  z-index: 200;
                  opacity: 1;
                  font-size: 0.5em;
                  transition: 300ms ease-in-out;
                  font-size: 1em;
                  margin: -20vh 0vw 30vh 0vw;
                };
               };
              };
              .Chronos + nav {
                position: relative;
                top: 20vh;
              }
              nav {
                position: relative;
                bottom: 0;
                top: 53vh;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                left: 60vw;
                z-index: 200;
                #githubLink {
                  position: relative;
                  width: 100%;
                  #githubIcon {
                    width: 15%;
                    height: auto;
                    position: relative;
                  };
                };
                #deployLink {
                  position: relative;
                  left: -20vw;
                  width: 100%;
                  #globeIcon {
                    width: 15%;
                    height: auto;
                  };
                };
              };
            };
          };
        };
      };
    };
  };
};


// @media only screen and (min-width: 480px) {
  .portfolio {
    width: 100vw;
    background-color: white;
    margin: 60vh 0 0 -50vw;
    padding-bottom: 10vh;
    position: relative;
    // left: -10vw;
    #allPortfolio {
      align-self: flex-start;
      #portfolioHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: flex-start;
        margin-left: -8vw;
       
        h2 {
          font-size: 2em;
        };
        img {
          width: 15vw;
          height: 2vh; 
          position: relative;
        };
      };
      #portfolio {
        position: relative;
        top: 5vh;
        #portfolioItem {
          display: flex;
          flex-direction: column;
          margin: 0 4.5vw 0 2vw;
          #screenshot {
            width: 100%;
            height: auto;
          };
          a {
            text-decoration: none;
            h4 {
              align-self: center;
              color: rgba(76, 186, 160, 1);
            };
          };
          h4:hover {
            color: rgba(76, 186, 160, 1);
            text-decoration: underline;
          }
          h5 {
            color: grey;
          };
          nav {
            display: none;
          }
        };
        #portfolioItem:hover {
          transition: 1.5s ease-in-out;
          img {
            opacity: 0.3;
          };
          nav {
            position: relative;
            display: flex;
            top: -40vh;
            left: 6vw;
            align-content: space-around;
            #github {
              width: 30%;
              height: auto;
              opacity: 1;
            };
            #deploy {
              width: 20%;
              height: auto;
              opacity: 1;
            };
          };
        };
      };
    };
  };
// };

